.title{
    background-color: rgb(130, 22, 151);
}
.logo{
width: 200px ;
height: 150px ;
position: absolute;
}
.milkshake{
position: absolute;
    width: 200px;
    height: 150px;
   object-position: bottom;
}